# Ignore emacs backup files
*~
#*

# Ignore NetCDF files
*.nc

# Ignore Python/GT4Py cache
.gt_cache
__pycache__

# Ignore Serialbox data
serialbox_data/

# Ignore Direnv and env dot files
*.envrc
*.direnv

# Ignore the build and exe dirs
exe
build

# Ignore gif files
.gif
